In [1]:
import pandas as pd
import numpy as np

In [11]:
obj = pd.Series(np.arange(11,15), index=['a','b','c','d'])
obj
obj['b']
obj[1]
obj[2:4]
obj[['b','c','a']]
obj[obj<13]

a    11
b    12
dtype: int32

In [16]:
print(obj)
print(obj[1:2]) # index로 주면 index2는 포함 안됨.
print(obj['b':'c']) # 하지만 label로 주면 'c'라벨은 포함됨. 기억하자.

a    11
b    12
c    13
d    14
dtype: int32
b    12
dtype: int32
b    12
c    13
dtype: int32

In [20]:
obj['b':'c'] = 5
obj

a    11
b     5
c     5
d    14
dtype: int32

In [27]:
# pd.DataFrame(data: array or dictionary or list etc...,
#             index,
#             column)

data = pd.DataFrame(np.arange(16).reshape(4,4),
            index = ['Seoul','Incheon','Suwon','Dajeon'],
            columns = ['one','two','three','four'])
data

         one  two  three  four
Seoul      0    1      2     3
Incheon    4    5      6     7
Suwon      8    9     10    11
Dajeon    12   13     14    15

In [31]:
# column 호출
data['two']
data.two
data[['two','one']]

         two  one
Seoul      1    0
Incheon    5    4
Suwon      9    8
Dajeon    13   12

In [38]:
# index 호출
data[:2]
data
data[data['three']>5]

         one  two  three  four
Incheon    4    5      6     7
Suwon      8    9     10    11
Dajeon    12   13     14    15

In [41]:
print(data)
data[data<5] = 0

         one  two  three  four
Seoul      0    1      2     3
Incheon    4    5      6     7
Suwon      8    9     10    11
Dajeon    12   13     14    15

In [43]:
data

         one  two  three  four
Seoul      0    0      0     0
Incheon    0    5      6     7
Suwon      8    9     10    11
Dajeon    12   13     14    15

In [56]:
# 2개 이상 참조
data.loc['Incheon',['two','three']]

two      5
three    6
Name: Incheon, dtype: int32

In [65]:
print(data)
data.iloc[1,[1,2,0]]  # iloc는 정수 색인

         one  two  three  four
Seoul      0    0      0     0
Incheon    0    5      6     7
Suwon      8    9     10    11
Dajeon    12   13     14    15

two      5
three    6
one      0
Name: Incheon, dtype: int32

In [71]:
# 7, 5, 6
# 15, 13, 14
print(data.iloc[[1,3],[3,1,2]])

         four  two  three
Incheon     7    5      6
Dajeon     15   13     14

In [92]:
print(data.loc[:,'two'])
print(data.loc[:'Suwon','two'])
print('***************************************')
print(data.iloc[:,[0,1,2]])
print('***************************************')
print(data.iloc[:,:3] [data.three>5])  # 앞 결과가 뒤에 이어서 반영됨.

Seoul       0
Incheon     5
Suwon       9
Dajeon     13
Name: two, dtype: int32
Seoul      0
Incheon    5
Suwon      9
Name: two, dtype: int32
***************************************
         one  two  three
Seoul      0    0      0
Incheon    0    5      6
Suwon      8    9     10
Dajeon    12   13     14
***************************************
         one  two  three
Incheon    0    5      6
Suwon      8    9     10
Dajeon    12   13     14

In [97]:
ser = pd.Series(np.arange(3), index = ['a','b','c'])
ser

a    0
b    1
c    2
dtype: int32

In [106]:
print(ser[-1]) # index를 따로 지정 안하면 리스트처럼 참조가 안됨. 그러니까 윗 줄에 index가 없으면 참조X
print('***************************************')
print(ser.iloc[-1])  # 헷갈릴 수 있으니 series에서는 항상 iloc나 loc를 쓰자.
print('***************************************')
print(ser.loc[:'b'])
print('***************************************')

2
***************************************
2
***************************************
a    0
b    1
dtype: int32
***************************************

In [109]:
# pandas 산술연산
s1 = pd.Series([7,-2,3,1], index = ['a','c','d','e'])
s2 = pd.Series([2,-2,4,2,5], index = ['a','c','e','f','g'])
print(s1, s2)

a    7
c   -2
d    3
e    1
dtype: int64 a    2
c   -2
e    4
f    2
g    5
dtype: int64

In [110]:
s1+s2

a    9.0
c   -4.0
d    NaN
e    5.0
f    NaN
g    NaN
dtype: float64

In [113]:
list("bcd") # bcd라는 단어가 리스트를 취하면 단어 하나하나가 요소로 됨.

['b', 'c', 'd']

In [118]:
df1 = pd.DataFrame(np.arange(9).reshape(3,3),
                  columns = list('bcd'),
                  index = ['Seoul','Busan','Gwangju'])
df2 = pd.DataFrame(np.arange(12).reshape(4,3),
                  columns = list('bde'),
                  index = ['Daegu','Seoul','Busan','Jeju'])

print(df1)
print('***************************************')
print(df2)

         b  c  d
Seoul    0  1  2
Busan    3  4  5
Gwangju  6  7  8
***************************************
       b   d   e
Daegu  0   1   2
Seoul  3   4   5
Busan  6   7   8
Jeju   9  10  11

In [120]:
df1 + df2 # 행, 열 index 정렬되서 나옴.

           b   c     d   e
Busan    9.0 NaN  12.0 NaN
Daegu    NaN NaN   NaN NaN
Gwangju  NaN NaN   NaN NaN
Jeju     NaN NaN   NaN NaN
Seoul    3.0 NaN   6.0 NaN

In [129]:
df1 = pd.DataFrame({'A':[1,2]})

df2 = pd.DataFrame({'A':[3,4]})
print(df1)
print('***************************************')
print(df2)
df1 - df2

   A
0  1
1  2
***************************************
   A
0  3
1  4

   A
0 -2
1 -2

In [131]:
df1 = pd.DataFrame({'A':[1,2]})

df2 = pd.DataFrame({'B':[3,4]})
print(df1)
print('***************************************')
print(df2)
df1 - df2
# 누락값: NaN(가장 많이), NAN, nan
# 누락값은 넘파이에 표현.

   A
0  1
1  2
***************************************
   B
0  3
1  4

    A   B
0 NaN NaN
1 NaN NaN

In [136]:
# NaN  # error
np.NaN

nan

In [140]:
from numpy import NaN, nan, NAN
print(NaN)
print(nan)
print(NAN)
# 누락값은 0, ''과는 다른 값
# 누락값은 데이터 자체가 없다는 뜻.
NaN == 0
NaN == ''

# 바구니에 사과 1개 == 1
# 바구니에 사과 0개 == 0
# 바구니 자체가 없음 == NaN
NaN == NaN  # 값 자체가 없어서 비교를 할 수 없음.

nan
nan
nan

False

In [143]:
df1 = pd.DataFrame(np.arange(12).reshape(3,4),
                  columns = list('abcd'))
df2 = pd.DataFrame(np.arange(20).reshape(4,5),
                  columns = list('abcde'))
print(df1)
print('***************************************')
print(df2)

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
***************************************
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [154]:
# df2에서 6 뽑아내기
df2.iloc[1,1]
df2.loc[1,'b']
df2.iloc[-3,1]
df2.iloc[-3,-4] = np.NaN

In [157]:
print(df1)
print('***************************************')
print(df2)
df1 + df2 # 어느 한 쪽이 NaN이면 NaN은 계속 늘어남.

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
***************************************
    a     b   c   d   e
0   0   1.0   2   3   4
1   5   NaN   7   8   9
2  10  11.0  12  13  14
3  15  16.0  17  18  19

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [160]:
df1.add(df2, fill_value = 0) # NaN -> 0으로 채움.

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [164]:
print(df1)
print('***************************************')
print(df2)

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
***************************************
    a     b   c   d   e
0   0   1.0   2   3   4
1   5   NaN   7   8   9
2  10  11.0  12  13  14
3  15  16.0  17  18  19

In [169]:
# reindex 함수
# df1을 df2의 행과 열 인덱스와 동일하게.
df1.reindex(columns = df2.columns, fill_value = 1, index = df2.index)

   a  b   c   d  e
0  0  1   2   3  1
1  4  5   6   7  1
2  8  9  10  11  1
3  1  1   1   1  1

In [171]:
# mapping
df = pd.DataFrame(np.random.randn(4,3), 
            columns = list('bed'),
            index = ['Seoul','Busan','Daegu','Incheon'])
df

                b         e         d
Seoul   -1.937386  0.103277  0.766845
Busan   -1.360297  0.018513 -0.569476
Daegu   -0.643626 -0.166136 -1.740500
Incheon  1.433226 -0.327343 -2.726390

In [178]:
# 각 열에 대해 ,최댓값 ,최솟값을 뺀 결과를 추출
# apply함수!! 사용하면 쉽게 각 열에 대해 연산 가능.
# apply: 각 column에 해당되는 1차원 배열에 대해 함수 적용.
bMax = df.b.max()
df.b.values.max()
np.max(df.b)
np.max(df.b.values)
bMin = df.b.min()
df.b - bMax

Seoul     -3.370612
Busan     -2.793523
Daegu     -2.076851
Incheon    0.000000
Name: b, dtype: float64

In [180]:
bMax - bMin

3.3706118096380093

In [184]:
# df.apply(함수이름, axis = 0(default))
f = lambda x: x.max()-x.min()
df.apply(f, axis = 0)
df.apply(f, axis = 'index')
# df 변수에 저장되어있는 데이터 프레임에 대해 각 열을 f함수에 전달해라(적용해라).
# axis = 0 or axis = index or 생략  => 데이터 프레임의 행(row)을 따라 연산 수행.
# 배열에 대한 일반적인 통계함수는 데이터 프레임에 정의되어 있음.

b    3.370612
e    0.430619
d    3.493235
dtype: float64

In [186]:
df.apply(f, axis = 1)
df.apply(f, axis = 'columns') #  => 데이터프레임의 열(column)을 따라 연산 수행.

Seoul      2.704231
Busan      1.378810
Daegu      1.574364
Incheon    4.159616
dtype: float64

In [190]:
# df에 저장디어있는 데이터에 대해 도시 단위로 평균값을 구하시오.
print(df)
f = lambda x: x.mean()
df.apply(f, axis = 1)

                b         e         d
Seoul   -1.937386  0.103277  0.766845
Busan   -1.360297  0.018513 -0.569476
Daegu   -0.643626 -0.166136 -1.740500
Incheon  1.433226 -0.327343 -2.726390

Seoul     -0.355755
Busan     -0.637087
Daegu     -0.850087
Incheon   -0.540169
dtype: float64

In [191]:
df.apply(f, axis = 'columns')

Seoul     -0.355755
Busan     -0.637087
Daegu     -0.850087
Incheon   -0.540169
dtype: float64

In [192]:
# 함수가 있으니까 굳이 함수 만들어서 apply 할 필요 없어.
df.mean()

b   -0.627021
e   -0.092922
d   -1.067380
dtype: float64

In [193]:
df.mean(axis = 1)

Seoul     -0.355755
Busan     -0.637087
Daegu     -0.850087
Incheon   -0.540169
dtype: float64

In [194]:
df.max()

b    1.433226
e    0.103277
d    0.766845
dtype: float64

In [195]:
df.min()

b   -1.937386
e   -0.327343
d   -2.726390
dtype: float64

In [197]:
df.max() - df.min()

b    3.370612
e    0.430619
d    3.493235
dtype: float64

In [208]:
# apply 매서드는 column 또는 row 단위로 배열에 함수를 적용한다.

def f3(x):
    return pd.Series([x.min(), x.max()], index = ['min','max'])

df.apply(f3)

        b     e     d
min -1.94 -0.33 -2.73
max  1.43  0.10  0.77

In [214]:
# df에 있는 모든 수치 데이터에 대해 소숫점 이하 2자리까지만 출력
# pd.options.display.float_format = '{:6f}'.format
# df.round(2)
myformat = lambda x: '%.2f' %x
# df.apply(myformat) # 열 전체 데이터를 가지고 와서 적용 불가.
df.applymap(myformat) # applymap은 열벡터를 구성하는 각각의 요소에 대해 함수가 적용.

             b      e      d
Seoul    -1.94   0.10   0.77
Busan    -1.36   0.02  -0.57
Daegu    -0.64  -0.17  -1.74
Incheon   1.43  -0.33  -2.73

In [217]:
# applymap: 데이터 프레임에서 요소(데이터) 단위로 함수를 일괄 적용

# apply: 데이터 프레임에서 행/열 단위로 함수를 일괄 적용

# map: series의 요소(데이터) 단위로 함수를 일괄 적용

df.e.map(myformat)

Seoul       0.10
Busan       0.02
Daegu      -0.17
Incheon    -0.33
Name: e, dtype: object

In [228]:
# map 함수 적용
srAge = pd.Series([10,13,15,23,22,36])
srAge
# map 함수를 이용하여 나이의 범위에 따라 10대, 20대, 30대로 변경하는 함수 생성
def myFunc(age):
    if (age>9) & (age<20):
        age = 10
    elif (age>19) & (age<30):
        age = 20
    elif (age>29) & (age<40):
        age = 30
    else:
        np.nan
    return str(age) + '대'

srAge.map(myFunc)

0    10대
1    10대
2    10대
3    20대
4    20대
5    30대
dtype: object

In [229]:
# apply: 데이터프레임에서 사용, 행/열 (series) 단위로 함수 일괄 적용
# axis = 0: 열 / axis = 1: 행 단위로 함수 적용
df = pd.DataFrame([[1,3,5],[4,5,6],[7,8,10]])
df

   0  1   2
0  1  3   5
1  4  5   6
2  7  8  10

In [245]:
# 행 단위로 최댓값과 최솟값의 차이를 구하는 함수
# 열 단위로 최댓값과 최솟값의 차이를 구하는 함수
def myfunc1(x):
    return pd.Series([x.max(), x.min(), x.max() - x.min()],
                    index = ['최댓값','최솟값','차이'])


df.apply(myfunc1,axis = 0)

     0  1   2
최댓값  7  8  10
최솟값  1  3   5
차이   6  5   5

In [252]:
def squre(x):
    return x**2


df2 = pd.DataFrame([[1,1,1],[2,2,2],[3,3,3]])

df2.applymap(squre)

   0  1  2
0  1  1  1
1  4  4  4
2  9  9  9

In [256]:
wineReviews = pd.read_csv('winemag-data-130k-v2.csv')
wineReviews.shape

(65499, 14)

In [259]:
wineReviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,nan,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.000000,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.000000,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.000000,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [262]:
# 0번 열에 저장된 값을 index로 지정.
wineReviews = pd.read_csv('winemag-data-130k-v2.csv',index_col=0)
wineReviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,nan,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.000000,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.000000,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.000000,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [263]:
# country열만 추출
wineReviews.country

0            Italy
1         Portugal
2               US
3               US
4               US
           ...
65494       France
65495    Australia
65496           US
65497           US
65498        Spain
Name: country, Length: 65499, dtype: object

In [266]:
# Italy 추출
wineReviews.iloc[0,0]
wineReviews.country[0]

'Italy'

In [268]:
# 0번 index 추출
wineReviews.iloc[0]

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

In [271]:
# country열 추출
wineReviews.country
wineReviews['country']

0            Italy
1         Portugal
2               US
3               US
4               US
           ...
65494       France
65495    Australia
65496           US
65497           US
65498        Spain
Name: country, Length: 65499, dtype: object

In [280]:
# country 열 중 상위 3개 국가명 출력
wineReviews.country[:3]
wineReviews.iloc[:3,0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [288]:
# country 열 중 하위 5개 출력
wineReviews.iloc[-5:,0]
wineReviews.country[-5:]
wineReviews.tail()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
65494,France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.000000,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Fourchaume Premier Cru (Ch...,Chardonnay,William Fèvre
65495,Australia,"This is a big, fat, almost sweet-tasting Caber...",NaN,90,22.000000,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Tapestry 2005 Cabernet Sauvignon (McLaren Vale),Cabernet Sauvignon,Tapestry
65496,US,"Much improved over the unripe 2005, Fritz's 20...",Estate,90,20.000000,California,Dry Creek Valley,Sonoma,NaN,NaN,Fritz 2006 Estate Sauvignon Blanc (Dry Creek V...,Sauvignon Blanc,Fritz
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.000000,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.000000,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

In [289]:
wineReviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65499 entries, 0 to 65498
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                65467 non-null  object
 1   description            65499 non-null  object
 2   designation            46588 non-null  object
 3   points                 65499 non-null  int64
 4   price                  60829 non-null  float64
 5   province               65467 non-null  object
 6   region_1               54744 non-null  object
 7   region_2               25170 non-null  object
 8   taster_name            51856 non-null  object
 9   taster_twitter_handle  49467 non-null  object
 10  title                  65499 non-null  object
 11  variety                65499 non-null  object
 12  winery                 65499 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 9.5+ MB

In [291]:
# 데이터프레임 재구성
wineReviews.loc[:,['taster_name','taster_twitter_handle','points']]

              taster_name taster_twitter_handle  points
0           Kerin O’Keefe          @kerinokeefe      87
1              Roger Voss            @vossroger      87
2            Paul Gregutt           @paulgwine       87
3      Alexander Peartree                   NaN      87
4            Paul Gregutt           @paulgwine       87
...                   ...                   ...     ...
65494          Roger Voss            @vossroger      90
65495      Joe Czerwinski                @JoeCz      90
65496                 NaN                   NaN      90
65497                 NaN                   NaN      90
65498   Michael Schachner           @wineschach      90

[65499 rows x 3 columns]

In [296]:
# 열 column 하나를 행 index로 재구성
wineReviews.set_index('title')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,variety,winery
title,,,,,,,,,,,,
Nicosia 2013 Vulkà Bianco (Etna),Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,nan,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,White Blend,Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro),Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,NaN,NaN,Roger Voss,@vossroger,Portuguese Red,Quinta dos Avidagos
Rainstorm 2013 Pinot Gris (Willamette Valley),US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.000000,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Gris,Rainstorm
St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore),US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.000000,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,Riesling,St. Julian
Sweet Cheeks 2012 Vintner's Reserve Wild Child Block Pinot Noir (Willamette Valley),US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.000000,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...
William Fèvre 2005 Fourchaume Premier Cru (Chablis),France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.000000,Burgundy,Chablis,NaN,Roger Voss,@vossroger,Chardonnay,William Fèvre
Tapestry 2005 Cabernet Sauvignon (McLaren Vale),Australia,"This is a big, fat, almost sweet-tasting Caber...",NaN,90,22.000000,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Cabernet Sauvignon,Tapestry
Fritz 2006 Estate Sauvignon Blanc (Dry Creek Valley),US,"Much improved over the unripe 2005, Fritz's 20...",Estate,90,20.000000,California,Dry Creek Valley,Sonoma,NaN,NaN,Sauvignon Blanc,Fritz
Hendry 2004 Block 24 Primitivo (Napa Valley),US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.000000,California,Napa Valley,Napa,NaN,NaN,Primitivo,Hendry
Bodegas Dios Baco S.L. NV Manzanilla Sherry (Jerez),Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.000000,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Sherry,Bodegas Dios Baco S.L.

In [305]:
# italy만 출력
# boolean 참조
wineReviews.iloc[0]
wineReviews[wineReviews.country == 'Italy']

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,nan,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.000000,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,nan,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
22,Italy,Delicate aromas recall white flower and citrus...,Ficiligno,87,19.000000,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Baglio di Pianetto 2007 Ficiligno White (Sicilia),White Blend,Baglio di Pianetto
24,Italy,"Aromas of prune, blackcurrant, toast and oak c...",Aynat,87,35.000000,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Canicattì 2009 Aynat Nero d'Avola (Sicilia),Nero d'Avola,Canicattì
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65466,Italy,"Earthy truffle, porcini mushroom, herb and gam...",NaN,88,70.000000,Tuscany,Brunello di Montalcino,NaN,Kerin O’Keefe,@kerinokeefe,Uccelliera 2012 Brunello di Montalcino,Sangiovese,Uccelliera
65474,Italy,"Made of 70% Syrah, 15% Sangiovese and 15% Merl...",Taneto,88,25.000000,Tuscany,Toscana,NaN,Kerin O’Keefe,@kerinokeefe,Badia di Morrona 2013 Taneto Red (Toscana),Red Blend,Badia di Morrona
65476,Italy,"Rose, violet, sour berry and tilled earth arom...",Prugnolo,88,25.000000,Tuscany,Rosso di Montepulciano,NaN,Kerin O’Keefe,@kerinokeefe,Boscarelli 2015 Prugnolo (Rosso di Montepulci...,Red Blend,Boscarelli
65477,Italy,"Made of 65% Merlot, 25% Cabernet Sauvignon, 5%...",Ruit Hora,88,30.000000,Tuscany,Bolgheri,NaN,Kerin O’Keefe,@kerinokeefe,Caccia al Piano 1868 2013 Ruit Hora (Bolgheri),Red Blend,Caccia al Piano 1868
65478,Italy,"Aromas suggesting French oak, coconut and spic...",NaN,88,36.000000,Tuscany,Vino Nobile di Montepulciano,NaN,Kerin O’Keefe,@kerinokeefe,Il Macchione 2012 Vino Nobile di Montepulciano,Sangiovese,Il Macchione

In [312]:
# 국가명이 이태리면서 points 값이 90 이상인 데이터 추출
wineReviews[(wineReviews.country == 'Italy') & (wineReviews.points > 90)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.000000,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
130,Italy,"At the first it was quite muted and subdued, b...",Bricco Rocche Brunate,91,70.000000,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Brunate (Barolo),Nebbiolo,Ceretto
133,Italy,"Einaudi's wines have been improving lately, an...",NaN,91,68.000000,Piedmont,Barolo,NaN,NaN,NaN,Poderi Luigi Einaudi 2003 Barolo,Nebbiolo,Poderi Luigi Einaudi
135,Italy,The color is just beginning to show signs of b...,Sorano,91,60.000000,Piedmont,Barolo,NaN,NaN,NaN,Giacomo Ascheri 2001 Sorano (Barolo),Nebbiolo,Giacomo Ascheri
158,Italy,"Baked plum, Asian spice, vanilla and menthol a...",Bellezza Gran Selezione,91,38.000000,Tuscany,Chianti Classico,NaN,Kerin O’Keefe,@kerinokeefe,Castello di Gabbiano 2012 Bellezza Gran Selezi...,Sangiovese,Castello di Gabbiano
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65225,Italy,You'll love the dark intensity and generous ar...,Vigna Manapetra Riserva,93,58.000000,Tuscany,Brunello di Montalcino,NaN,NaN,NaN,Fattoria La Lecciaia 2007 Vigna Manapetra Rise...,Sangiovese Grosso,Fattoria La Lecciaia
65226,Italy,Brunello Madonna Nera is a new product (this w...,Madonna Nera,92,nan,Tuscany,Brunello di Montalcino,NaN,NaN,NaN,La Madonna 2008 Madonna Nera (Brunello di Mon...,Sangiovese Grosso,La Madonna
65362,Italy,This stunning single-vineyard selection is one...,La Rocca,95,31.000000,Veneto,Soave Classico,NaN,Kerin O’Keefe,@kerinokeefe,Pieropan 2011 La Rocca (Soave Classico),Garganega,Pieropan
65365,Italy,"Stunning and sophisticated, it leads with inte...",Sanct Valentin,94,40.000000,Northeastern Italy,Alto Adige,NaN,Kerin O’Keefe,@kerinokeefe,Cantina Produttori San Michele Appiano 2012 Sa...,Sauvignon,Cantina Produttori San Michele Appiano
65399,Italy,Aesthetics and elegance are important values t...,Nectar Dei,91,65.000000,Tuscany,Maremma,NaN,NaN,NaN,Fattoria Nittardi 2006 Nectar Dei (Maremma),Red Blend,Fattoria Nittardi

In [315]:
# 국가가 italy or france
wineReviews[(wineReviews.country == 'Italy') | (wineReviews.country == 'France')]
wineReviews[wineReviews.country.isin(['Italy','France'])]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,nan,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.000000,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
7,France,This dry and restrained wine offers spice in p...,NaN,87,24.000000,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.000000,Alsace,Alsace,NaN,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam
11,France,"This is a dry wine, very spicy, with a tight, ...",NaN,87,30.000000,Alsace,Alsace,NaN,Roger Voss,@vossroger,Leon Beyer 2012 Gewurztraminer (Alsace),Gewürztraminer,Leon Beyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65485,France,There's a fine balance here between minerality...,Montmains Premier Cru,90,40.000000,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Montmains Premier Cru (Cha...,Chardonnay,William Fèvre
65486,France,"Closed up and firm with a hint of vanilla, hon...",Domaine Long-Depaquit Les Bougnons Premier Cru,90,nan,Burgundy,Chablis,NaN,Roger Voss,@vossroger,Albert Bichot 2005 Domaine Long-Depaquit Les B...,Chardonnay,Albert Bichot
65491,France,"A big, toasty wine, full of ripe, delicious fr...",Fourchaume Vieilles Vignes Premier Cru,90,36.000000,Burgundy,Chablis,NaN,Roger Voss,@vossroger,Pascal Bouchard 2006 Fourchaume Vieilles Vigne...,Chardonnay,Pascal Bouchard
65492,France,"A rounded, fruity wine, packed with yellow pea...",Mont-de-Milieu Premier Cru,90,30.000000,Burgundy,Chablis,NaN,Roger Voss,@vossroger,Simonnet-Febvre 2005 Mont-de-Milieu Premier Cr...,Chardonnay,Simonnet-Febvre
65494,France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.000000,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Fourchaume Premier Cru (Ch...,Chardonnay,William Fèvre

In [316]:
wineReviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65499 entries, 0 to 65498
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                65467 non-null  object
 1   description            65499 non-null  object
 2   designation            46588 non-null  object
 3   points                 65499 non-null  int64
 4   price                  60829 non-null  float64
 5   province               65467 non-null  object
 6   region_1               54744 non-null  object
 7   region_2               25170 non-null  object
 8   taster_name            51856 non-null  object
 9   taster_twitter_handle  49467 non-null  object
 10  title                  65499 non-null  object
 11  variety                65499 non-null  object
 12  winery                 65499 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 9.5+ MB

In [319]:
# price값이 있는 데이터만 추출 -> NaN 제외하고 나머지만 
wineReviews[wineReviews.price.notnull()] # 누락했냐?

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.000000,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.000000,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.000000,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.000000,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65494,France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.000000,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Fourchaume Premier Cru (Ch...,Chardonnay,William Fèvre
65495,Australia,"This is a big, fat, almost sweet-tasting Caber...",NaN,90,22.000000,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Tapestry 2005 Cabernet Sauvignon (McLaren Vale),Cabernet Sauvignon,Tapestry
65496,US,"Much improved over the unripe 2005, Fritz's 20...",Estate,90,20.000000,California,Dry Creek Valley,Sonoma,NaN,NaN,Fritz 2006 Estate Sauvignon Blanc (Dry Creek V...,Sauvignon Blanc,Fritz
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.000000,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.000000,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

In [326]:
# 새로운 column 추가
# wineReviews에 'critic' 칼럼 추가. 값은 모두 'everyone'
wineReviews.critic = 'everyone'

In [327]:
wineReviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,nan,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.000000,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,everyone
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.000000,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,everyone
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.000000,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,everyone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65494,France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.000000,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Fourchaume Premier Cru (Ch...,Chardonnay,William Fèvre,everyone
65495,Australia,"This is a big, fat, almost sweet-tasting Caber...",NaN,90,22.000000,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Tapestry 2005 Cabernet Sauvignon (McLaren Vale),Cabernet Sauvignon,Tapestry,everyone
65496,US,"Much improved over the unripe 2005, Fritz's 20...",Estate,90,20.000000,California,Dry Creek Valley,Sonoma,NaN,NaN,Fritz 2006 Estate Sauvignon Blanc (Dry Creek V...,Sauvignon Blanc,Fritz,everyone
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.000000,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry,everyone
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.000000,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.,everyone