In [132]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [133]:
# 파이썬 시각화 패키지 불러오기
import matplotlib.pyplot as plt
%matplotlib inline


# 사용자 운영체제 확인
import platform
platform.system()


# 운영체제별 한글 폰트 설정
if platform.system() == 'Darwin': # Mac 환경 폰트 설정
    plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows': # Windows 환경 폰트 설정
    plt.rc('font', family='Malgun Gothic')

plt.rc('axes', unicode_minus=False) # 마이너스 폰트 설정


# 글씨 선명하게 출력하는 설정
%config InlineBackend.figure_format = 'retina'

In [134]:
df = pd.read_csv("evaluation4Analysis.csv")
df

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,요일
0,2020-06-01 06:20:00,20.000000,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,0
1,2020-06-01 06:40:00,20.000000,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,0
2,2020-06-01 07:00:00,20.000000,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,0
3,2020-06-01 07:20:00,20.000000,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,0
4,2020-06-01 07:40:00,20.000000,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,0
...,...,...,...,...,...,...,...,...,...
2685,2020-07-01 00:10:00,10.000000,100099,200273,[일시불]라쉬반 FC바로셀로나 드로즈 패키지,속옷,99000,NaN,2
2686,2020-07-01 00:10:00,10.000000,100099,200272,[무이자]라쉬반 FC바로셀로나 드로즈 패키지,속옷,119000,NaN,2
2687,2020-07-01 00:10:00,10.000000,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,119000,NaN,2
2688,2020-07-01 01:20:00,20.000000,100261,200875,아놀드파마 티셔츠레깅스세트,의류,69900,NaN,2
2689,2020-07-01 01:40:00,15.933333,100261,200875,아놀드파마 티셔츠레깅스세트,의류,69900,NaN,2

In [135]:
day_df=pd.read_excel("Test_holiday_20.xlsx")
day_df

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,요일,휴일,...,items_가전,items_건강기능,items_농수축,items_생활용품,items_속옷,items_의류,items_이미용,items_잡화,items_주방,items_침구
0,2020-06-01 06:20:00,0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2020-06-01 06:40:00,0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2020-06-01 07:00:00,0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,2020-06-01 07:20:00,0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2020-06-01 07:40:00,0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7055,2020-07-01 00:10:00,0,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,119000,0,2,0,...,0,0,1,0,0,0,0,0,0,0
7056,2020-07-01 00:10:00,0,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,119000,0,2,0,...,0,0,0,0,0,0,0,0,1,0
7057,2020-07-01 00:10:00,0,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,119000,0,2,0,...,0,0,0,0,0,0,0,0,1,0
7058,2020-07-01 01:20:00,0,100261,200875,아놀드파마 티셔츠레깅스세트,의류,69900,0,2,0,...,0,0,0,0,0,0,1,0,0,0
7059,2020-07-01 01:40:00,0,100261,200875,아놀드파마 티셔츠레깅스세트,의류,69900,0,2,0,...,0,0,1,0,0,0,0,0,0,0

In [136]:
season=pd.read_excel("seasons2020_6.xlsx")
season #6월 모두 여름

      지점 지점명  기온(°C)  강수량(mm)  습도(%)  요일  명칭  태양황경  season
0    108  서울    16.9      0.0     93   0  소만    60       2
1    108  서울    16.7      0.1     90   0  소만    60       2
2    108  서울    16.9      0.0     86   0  소만    60       2
3    108  서울    17.8      0.0     80   0  소만    60       2
4    108  서울    19.3      0.0     73   0  소만    60       2
..   ...  ..     ...      ...    ...  ..  ..   ...     ...
713  108  서울    18.6      0.2     88   1  하지    90       2
714  108  서울    18.7      0.0     87   1  하지    90       2
715  108  서울    18.8      0.0     85   2  하지    90       2
716  108  서울    18.8      0.0     87   2  하지    90       2
717  108  서울    18.7      0.0     87   2  하지    90       2

[718 rows x 9 columns]

In [137]:
#소비자 심리지수

In [138]:
test_df = pd.concat([df, day_df[['요일','휴일','month','day','hour','resting_day','working_day']]], axis=0, sort=False)
test_df

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,요일,휴일,month,day,hour,resting_day,working_day
0,2020-06-01 06:20:00,20.0,100650.0,201971.0,잭필드 남성 반팔셔츠 4종,의류,59800.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-06-01 06:40:00,20.0,100650.0,201971.0,잭필드 남성 반팔셔츠 4종,의류,59800.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-06-01 07:00:00,20.0,100650.0,201971.0,잭필드 남성 반팔셔츠 4종,의류,59800.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-06-01 07:20:00,20.0,100445.0,202278.0,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-06-01 07:40:00,20.0,100445.0,202278.0,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.0,7.0,1.0,0.0,0.0,1.0
7056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.0,7.0,1.0,0.0,0.0,1.0
7057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.0,7.0,1.0,0.0,0.0,1.0
7058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.0,7.0,1.0,1.0,0.0,1.0
7059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.0,7.0,1.0,1.0,0.0,1.0

In [139]:
test_df=pd.merge(df, day_df[['휴일','month','day','hour','resting_day','working_day']], left_index=True, right_index=True, how='left') 
test_df

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,요일,휴일,month,day,hour,resting_day,working_day
0,2020-06-01 06:20:00,20.000000,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,0,0,6,1,6,1,0
1,2020-06-01 06:40:00,20.000000,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,0,0,6,1,6,1,0
2,2020-06-01 07:00:00,20.000000,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,0,0,6,1,7,1,0
3,2020-06-01 07:20:00,20.000000,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,0,0,6,1,7,1,0
4,2020-06-01 07:40:00,20.000000,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,0,0,6,1,7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2685,2020-07-01 00:10:00,10.000000,100099,200273,[일시불]라쉬반 FC바로셀로나 드로즈 패키지,속옷,99000,NaN,2,0,6,10,23,0,1
2686,2020-07-01 00:10:00,10.000000,100099,200272,[무이자]라쉬반 FC바로셀로나 드로즈 패키지,속옷,119000,NaN,2,0,6,10,23,0,1
2687,2020-07-01 00:10:00,10.000000,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,119000,NaN,2,0,6,10,23,0,1
2688,2020-07-01 01:20:00,20.000000,100261,200875,아놀드파마 티셔츠레깅스세트,의류,69900,NaN,2,0,6,10,23,0,1
2689,2020-07-01 01:40:00,15.933333,100261,200875,아놀드파마 티셔츠레깅스세트,의류,69900,NaN,2,0,6,10,23,0,1

In [140]:
test_df['소비자 심리지수']=81.8

In [141]:
test_df['봄']=0
test_df['여름']=1
test_df['가을']=0
test_df['겨울']=0

In [142]:
test_df.to_csv("evaluation_test")

In [143]:
test_df=pd.read_csv('evaluation_test.csv',parse_dates=['방송일시'])

In [144]:
# 요일 구분
list1 = []
for i in test_df['방송일시']:
    list1.append(i.weekday())
weekday = pd.Series(list1)

test_df['요일'] = weekday
test_df['요일'] = test_df['요일'].astype('category')

# 요일 분류 → 월~일
test_df.loc[test_df['요일'] == 0, '월'] = True
test_df.loc[test_df['요일'] == 1, '화'] = True
test_df.loc[test_df['요일'] == 2, '수'] = True
test_df.loc[test_df['요일'] == 3, '목'] = True
test_df.loc[test_df['요일'] == 4, '금'] = True
test_df.loc[test_df['요일'] == 5, '토'] = True
test_df.loc[test_df['요일'] == 6, '일'] = True

test_df['월'].fillna(False, inplace = True)
test_df['화'].fillna(False, inplace = True)
test_df['수'].fillna(False, inplace = True)
test_df['목'].fillna(False, inplace = True)
test_df['금'].fillna(False, inplace = True)
test_df['토'].fillna(False, inplace = True)
test_df['일'].fillna(False, inplace = True)

In [145]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2690 entries, 0 to 2689
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2690 non-null   int64
 1   방송일시         2690 non-null   datetime64[ns]
 2   노출(분)        2690 non-null   float64
 3   마더코드         2690 non-null   int64
 4   상품코드         2690 non-null   int64
 5   상품명          2690 non-null   object
 6   상품군          2690 non-null   object
 7   판매단가         2690 non-null   int64
 8   취급액          0 non-null      float64
 9   요일           2690 non-null   category
 10  휴일           2690 non-null   int64
 11  month        2690 non-null   int64
 12  day          2690 non-null   int64
 13  hour         2690 non-null   int64
 14  resting_day  2690 non-null   int64
 15  working_day  2690 non-null   int64
 16  소비자 심리지수     2690 non-null   float64
 17  봄            2690 non-null   int64
 18  여름           2690 non-null   int64
 19  가을           2690 non-null   int64
 20  겨울           2690 non-null   int64
 21  월            2690 non-null   bool
 22  화            2690 non-null   bool
 23  수            2690 non-null   bool
 24  목            2690 non-null   bool
 25  금            2690 non-null   bool
 26  토            2690 non-null   bool
 27  일            2690 non-null   bool
dtypes: bool(7), category(1), datetime64[ns](1), float64(3), int64(14), object(2)
memory usage: 441.8+ KB

In [146]:
test_df['마더코드'] = test_df['마더코드'].astype('category')
test_df['상품코드'] = test_df['상품코드'].astype('category')
test_df['상품군'] = test_df['상품군'].astype('category')

In [147]:
prod_cate_T = list(np.array(test_df['상품군'].tolist()))
from sklearn.preprocessing import LabelEncoder
le_T = LabelEncoder()
le_T.fit(prod_cate_T)
labels_T = le_T.transform(prod_cate_T)
labels_T

array([6, 6, 6, ..., 5, 6, 6], dtype=int64)

In [148]:
from sklearn.preprocessing import OneHotEncoder
ohe_T = OneHotEncoder()
labels_T = labels_T.reshape(-1,1)
ohe_T.fit(labels_T)
oh_labels_T = ohe_T.transform(labels_T)
df_T = pd.DataFrame(prod_cate_T,columns=['items'])
df_ohe_T = pd.get_dummies(df_T)
print(df_ohe_T.info())
df_ohe_T.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2690 entries, 0 to 2689
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   items_가구    2690 non-null   uint8
 1   items_가전    2690 non-null   uint8
 2   items_건강기능  2690 non-null   uint8
 3   items_농수축   2690 non-null   uint8
 4   items_생활용품  2690 non-null   uint8
 5   items_속옷    2690 non-null   uint8
 6   items_의류    2690 non-null   uint8
 7   items_이미용   2690 non-null   uint8
 8   items_잡화    2690 non-null   uint8
 9   items_주방    2690 non-null   uint8
 10  items_침구    2690 non-null   uint8
dtypes: uint8(11)
memory usage: 29.0 KB
None

,items_가구,items_가전,items_건강기능,items_농수축,items_생활용품,items_속옷,items_의류,items_이미용,items_잡화,items_주방,items_침구
2685,0,0,0,0,0,1,0,0,0,0,0
2686,0,0,0,0,0,1,0,0,0,0,0
2687,0,0,0,0,0,1,0,0,0,0,0
2688,0,0,0,0,0,0,1,0,0,0,0
2689,0,0,0,0,0,0,1,0,0,0,0

In [149]:
test_df = test_df.join(df_ohe_T)

In [150]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2690 entries, 0 to 2689
Data columns (total 39 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2690 non-null   int64
 1   방송일시         2690 non-null   datetime64[ns]
 2   노출(분)        2690 non-null   float64
 3   마더코드         2690 non-null   category
 4   상품코드         2690 non-null   category
 5   상품명          2690 non-null   object
 6   상품군          2690 non-null   category
 7   판매단가         2690 non-null   int64
 8   취급액          0 non-null      float64
 9   요일           2690 non-null   category
 10  휴일           2690 non-null   int64
 11  month        2690 non-null   int64
 12  day          2690 non-null   int64
 13  hour         2690 non-null   int64
 14  resting_day  2690 non-null   int64
 15  working_day  2690 non-null   int64
 16  소비자 심리지수     2690 non-null   float64
 17  봄            2690 non-null   int64
 18  여름           2690 non-null   int64
 19  가을           2690 non-null   int64
 20  겨울           2690 non-null   int64
 21  월            2690 non-null   bool
 22  화            2690 non-null   bool
 23  수            2690 non-null   bool
 24  목            2690 non-null   bool
 25  금            2690 non-null   bool
 26  토            2690 non-null   bool
 27  일            2690 non-null   bool
 28  items_가구     2690 non-null   uint8
 29  items_가전     2690 non-null   uint8
 30  items_건강기능   2690 non-null   uint8
 31  items_농수축    2690 non-null   uint8
 32  items_생활용품   2690 non-null   uint8
 33  items_속옷     2690 non-null   uint8
 34  items_의류     2690 non-null   uint8
 35  items_이미용    2690 non-null   uint8
 36  items_잡화     2690 non-null   uint8
 37  items_주방     2690 non-null   uint8
 38  items_침구     2690 non-null   uint8
dtypes: bool(7), category(4), datetime64[ns](1), float64(3), int64(12), object(1), uint8(11)
memory usage: 445.8+ KB

In [151]:
test_df = test_df.drop('Unnamed: 0', axis = 1)

In [152]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2690 entries, 0 to 2689
Data columns (total 38 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   방송일시         2690 non-null   datetime64[ns]
 1   노출(분)        2690 non-null   float64
 2   마더코드         2690 non-null   category
 3   상품코드         2690 non-null   category
 4   상품명          2690 non-null   object
 5   상품군          2690 non-null   category
 6   판매단가         2690 non-null   int64
 7   취급액          0 non-null      float64
 8   요일           2690 non-null   category
 9   휴일           2690 non-null   int64
 10  month        2690 non-null   int64
 11  day          2690 non-null   int64
 12  hour         2690 non-null   int64
 13  resting_day  2690 non-null   int64
 14  working_day  2690 non-null   int64
 15  소비자 심리지수     2690 non-null   float64
 16  봄            2690 non-null   int64
 17  여름           2690 non-null   int64
 18  가을           2690 non-null   int64
 19  겨울           2690 non-null   int64
 20  월            2690 non-null   bool
 21  화            2690 non-null   bool
 22  수            2690 non-null   bool
 23  목            2690 non-null   bool
 24  금            2690 non-null   bool
 25  토            2690 non-null   bool
 26  일            2690 non-null   bool
 27  items_가구     2690 non-null   uint8
 28  items_가전     2690 non-null   uint8
 29  items_건강기능   2690 non-null   uint8
 30  items_농수축    2690 non-null   uint8
 31  items_생활용품   2690 non-null   uint8
 32  items_속옷     2690 non-null   uint8
 33  items_의류     2690 non-null   uint8
 34  items_이미용    2690 non-null   uint8
 35  items_잡화     2690 non-null   uint8
 36  items_주방     2690 non-null   uint8
 37  items_침구     2690 non-null   uint8
dtypes: bool(7), category(4), datetime64[ns](1), float64(3), int64(11), object(1), uint8(11)
memory usage: 424.8+ KB

In [153]:
test_df.to_excel("evaluation_test.xlsx")